.photo{
    width: 200px!important;
    height: 200px!important;
    border-radius: 50%;
}

.pageNumber{
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage{
    font-weight: bold;
    border-color: black;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.preloader{
    width: 50px!important;
    height: 50px!important;
}