.photo{
    width: 200px!important;
    height: 200px!important;
    border-radius: 50%;
}

.pagination{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    width: 16px;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    background: #ffc400;
    color: white;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.preloader{
    width: 50px!important;
    height: 50px!important;
}