.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems{
    padding: 10px;
}

.dialog{

}

.active{
    color: gold;
}

.messages{
    padding: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}